<div class="main">
    <!-- LIGHT SECTION -->
    <app-breadcrumb></app-breadcrumb>


    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
    <p>alfombras-pages works!</p>
</div>