.productos {
  /* background: #f2f2f2; */
  padding: 30px;
}

.productos .contenedor {
  overflow: hidden;
}

.productos .contenedor .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #252525;
  text-align: center;
  text-transform: capitalize;
}

.productos .contenedor .contenedor-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productos .contenedor .contenedor-productos .producto {
  width: 30%;
  margin-bottom: 40px;
}

.productos .contenedor .contenedor-productos .producto .thumb {
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}
.productos .contenedor .contenedor-productos .producto .thumb:hover {
  z-index: 10;
}

.productos .contenedor .contenedor-productos .producto .thumb img {
  width: 100%;
  vertical-align: top;
  border-radius: 3px;
  z-index: 10;
}

.productos .contenedor .contenedor-productos .producto .thumb span {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(208, 247, 163, 0.3);
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.productos .contenedor .contenedor-productos .producto .thumb:hover span {
  display: block;
}

.productos .contenedor .contenedor-productos .producto .descripcion {
  text-align: center;
}

.productos .contenedor .contenedor-productos .producto .descripcion .nombre {
  font-weight: 500;
  color: #585858;
  margin-bottom: 10px;
  position: relative;
}

/* ========================================================================== */
/* tooltip */
/* ========================================================================== */
.productos
  .contenedor
  .contenedor-productos
  .producto
  .descripcion
  .nombre
  .tooltip-box {
  display: none;
  position: absolute;
  background: rgba(208, 247, 163, 0.5);
  color: #fff;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  /* color: #fff; */
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  left: 0;
  /* right: 0; */
  bottom: 31px;
}
.productos
  .contenedor
  .contenedor-productos
  .producto
  .descripcion
  .nombre:hover
  .tooltip-box {
  display: inline-block;
}
.productos
  .contenedor
  .contenedor-productos
  .producto
  .descripcion
  .nombre
  .tooltip-box::after {
  content: '';
  display: block;
  border-top: 7px solid rgb(73, 73, 73);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -7px;
  left: calc(50% - 7px);
}

/* ========================================================================== */

.productos
  .contenedor
  .contenedor-productos
  .producto
  .descripcion
  .nombre:hover {
  color: #252525;
}

.container-img {
  /* background-color: green; */
  position: relative;
}

.container-img .contenedor-imagen {
  width: 100%;
  position: sticky;
}

.container-img .contenedor-imagen .thumb {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.container-img .contenedor-imagen .thumb img {
  width: 100%;
  vertical-align: top;
  border-radius: 3px;
}

@media screen and (max-width: 800px) {
  .productos .contenedor .contenedor-productos .producto {
    width: 46%;
  }
}

.col1 .fondo {
  width: 100%;
  position: sticky;
  top: 100px;
  bottom: 100px;
}

.col1 .caja-fondo {
  border-radius: 8px;
  width: 100%;
  background-size: 80% 35%;
  background-repeat: no-repeat;
  background-position: center 95%;
}

.col1 .caja-fondo img {
  width: 100%;
  vertical-align: top;
  border-radius: 8px;
  /* opacity: 0.1; */
}

@media screen and (max-width: 320px),
  (max-width: 360px),
  (max-width: 414px),
  (max-width: 480px),
  (max-width: 640px),
  (max-width: 667px) {
  .col1 {
    display: none;
  }
}

@media screen and (max-width: 840px), (max-width: 1024px) {
  .col1 {
    display: none;
  }
}
