<div class="main">
    <!-- Breadcrumbs -->
    <app-breadcrumb></app-breadcrumb>

    <!-- contenido -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mt-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-12 col-md-8 mt-3">
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
                <p>Grama sintetica page</p>
            </div>
        </div>
    </div>
</div>
