<!-- <button routerLink="../../alfombras" class="btn btn-danger" >Back</button> -->

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">{{ tituloPag }}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="crearActualizarProducto( f )">
                        <br>
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input [(ngModel)]="producto.title" name="title" type="text" class="form-control"
                                placeholder="Nombre del producto" required>
                        </div>
                        <div class="form-group">
                            <label>Categoria:</label>
                            <select [(ngModel)]="producto.category" name="category"
                                (change)="onSelectCategory($event.target.value)" class="form-control input-lg" required>
                                <option value="">Seleccione una categoria</option>
                                <option *ngFor="let cat of categories" [value]=cat.id>{{cat.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Sub categoria:</label>
                            <select *ngIf="subCategory" [(ngModel)]="producto.sub_category" name="sub_category"
                                (change)="onSelectSubCategory($event.target.value)" class="form-control input-lg"
                                required>
                                <option value="">Seleccione subcategoria</option>
                                <option *ngFor="let subcat of subCategory" [value]="subcat.value">
                                    {{subcat.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea [(ngModel)]="producto.description" name="description" class="form-control"
                                rows="6" required></textarea>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar</button>
                        <a *ngIf="producto.slug" [routerLink]="['../../', pathBack]"
                            class="btn btn-danger waves-effect waves-light">Cancelar</a>
                        <a *ngIf="!producto.slug" routerLink="../../"
                            class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="producto.slug">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-auto justify-content-center">
                <div class="card card-body">
                    <h4 class="box-title m-b-0">Portada</h4>
                    <img (click)="cambiarPortada('portada', producto.image.portada)" [src]="producto.image.portada | avatar" class="img-rounded img-fluid pointer w150">
                    <!-- <img (click)="cambiarFoto()" [src]="medico.img | imagen:'medico'" class="img-circle img-fluid pointer"> -->
                </div>
            </div>
            <div class="col-4"></div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h3>Opcionales</h3>
            </div>
            <div class="col-4" aling="center">
                <div class="card card-body">
                    <h4 class="box-title m-b-0">Imagen 1</h4>
                    <img (click)="cambiarPortada('img1', producto.image.img1)" [src]="producto.image.img1 | avatar" class="img-rounded img-fluid pointer w150">
                </div>
            </div>
            <div class="col-4">
                <div class="card card-body">
                    <h4 class="box-title m-b-0">Imagen 2</h4>
                    <img (click)="cambiarPortada('img2', producto.image.img2)" [src]="producto.image.img2 | avatar" class="img-rounded img-fluid pointer w150">
                </div>
            </div>
            <div class="col-4">
                <div class="card card-body">
                    <h4 class="box-title m-b-0">Imagen 3</h4>
                    <img (click)="cambiarPortada('img3', producto.image.img3)" [src]="producto.image.img3 | avatar" class="img-rounded img-fluid pointer w150">
                </div>
            </div>
            <div class="col-4">
                <div class="card card-body">
                    <h4 class="box-title m-b-0">Imagen 4</h4>
                    <img (click)="cambiarPortada('img4', producto.image.img4)" [src]="producto.image.img4 | avatar" class="img-rounded img-fluid pointer w150">
                </div>
            </div>
            <div class="col-4">
                <div class="card card-body">
                    <h4 class="box-title m-b-0">Imagen 5</h4>
                    <img (click)="cambiarPortada('img5', producto.image.img5)" [src]="producto.image.img5 | avatar" class="img-rounded img-fluid pointer w150">
                </div>
            </div>
        </div>

    </div>
</div>