<div class="contenido">
  <div class="contenedor">
    <div class="item item-1">
      <a routerLink="/producto/cortinas/galeria-cortinas" class="item-product">
        <figure class="item-image">

          <img src="assets/page/img/baner/cortina.png" alt="casa e imagen cortinas">
        </figure>
        <span class="item-name">Cortinas</span>
      </a>
    </div>
    <div class="item item-2">
      <figure class="item-logo">
        <img src="assets/page/img/baner/logo.svg" alt="">
      </figure>
    </div>
    <div class="item item-3">
      <a routerLink="/producto/linoleo/linoleo" class="item-product">
        <figure class="item-image">
          <img src="assets/page/img/baner/vinilo.png" alt="casa e imagen Linóleo">
        </figure>
        <span class="item-name">Linóleo</span>
      </a>

    </div>
    <div class="item item-4">

      <a routerLink="/producto/grama-sintetica/galeria-grama-sintetica" class="item-product">
        <figure class="item-image">
          <img src="assets/page/img/baner/grama.png" alt="casa e imagen grama sintética">
        </figure>
        <span class="item-name">Grama Sintética</span>
      </a>


    </div>
    <div class="item item-5">
      <a routerLink="/producto/piso-laminado/galeria-piso-laminado" class="item-product">
        <figure class="item-image">
          <img src="assets/page/img/baner/laminado.png" alt="casa e imagen piso laminado">
        </figure>
        <span class="item-name">Piso Laminado</span>
      </a>
    </div>
    <div class="item item-6">
      <a routerLink="/alfombras" class="item-product">
        <figure class="item-image">
          <img src="assets/page/img/baner/alfombra.png" alt="casa e imagen alfombra">
        </figure>
        <span class="item-name">Alfombras</span>
      </a>
    </div>
    <span class="badge badg badge-danger">Importador directo, Productos 100% americanos y europeos</span>
  </div>
</div>

<section>
  <div class="row">
    <div class="col-12 bienvenido-text">
      <h2>Bienvenido a Casa e Imagen<br><span class="badge badge-danger">Importador directo, productos 100% americanos y
          europeos</span></h2>
    </div>
  </div>
</section>

<section>
  <div class="row justify-content-center mb-3">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="video">
        <iframe
          src="https://player.vimeo.com/video/333941974?autoplay=1&loop=1?title=1&amp;byline=0&amp;portrait=0&amp;color=ffffff"
          webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0">
        </iframe>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</section>


<section class="container mt-5">
  <div class="page-header">
    <h4>Nuestros proyectos</h4>
  </div>

  <div class="row featuredProducts featuredProductsSlider margin-bottom">
    <div class="slide col-md-3">
      <div class="productImage clearfix">
        <img src="assets/page/img/home/projects/alfombra_.jpg" alt="{{ altText }}">
      </div>
      <div class="productCaption clearfix">
        <a href="#">
          <h4>Alfombras</h4>
        </a>
      </div>
    </div>
    <div class="slide col-md-3">
      <div class="productImage">
        <img src="assets/page/img/home/projects/cancha.jpg" alt="{{ altText }}">
      </div>
      <div class="productCaption">
        <a href="#">
          <h4>Canchas</h4>
        </a>
      </div>
    </div>
    <div class="slide col-md-3">
      <div class="productImage">
        <img src="assets/page/img/home/projects/golfito.jpg" alt="{{ altText }}">
      </div>
      <div class="productCaption">
        <a href="#">
          <h4>Golfitos</h4>
        </a>
      </div>
    </div>
    <div class="slide col-md-3">
      <div class="productImage">
        <img src="assets/page/img/home/projects/grada.jpg" alt="{{ altText }}">
      </div>
      <div class="productCaption">
        <a href="#">
          <h4>Gradas</h4>
        </a>
      </div>
    </div>
    <div class="slide col-md-3">
      <div class="productImage">
        <img src="assets/page/img/home/projects/grama.jpg" alt="{{ altText }}">
      </div>
      <div class="productCaption">
        <a href="#">
          <h4>Gramas</h4>
        </a>
      </div>
    </div>
    <div class="slide col-md-3">
      <div class="productImage">
        <img src="assets/page/img/home/projects/iglesia.jpg" alt="{{ altText }}">
      </div>
      <div class="productCaption">
        <a href="#">
          <h4>Iglesias</h4>
        </a>
      </div>
    </div>
    <div class="slide col-md-3">
      <div class="productImage">
        <img src="assets/page/img/home/projects/linoleo.jpg" alt="{{ altText }}">
      </div>
      <div class="productCaption">
        <a href="#">
          <h4>Linoleo</h4>
        </a>
      </div>
    </div>
    <div class="slide col-md-3">
      <div class="productImage">
        <img src="assets/page/img/home/projects/piscina.jpg" alt="{{ altText }}">
      </div>
      <div class="productCaption">
        <a href="#">
          <h4>Piscinas</h4>
        </a>
      </div>
    </div>
    <div class="slide col-md-3">
      <div class="productImage">
        <img src="assets/page/img/home/projects/piso.jpg" alt="{{ altText }}">
      </div>
      <div class="productCaption">
        <a href="#">
          <h4>Piso laminado</h4>
        </a>
      </div>
    </div>
  </div>
</section>