.contenido{
    margin-top: 90px;
}

/*** ====================================================================
	                            grid container
====================================================================***/

.contenedor {
    border-radius: 0;
    /* background: url("../img/pruebas/baner/fondo.png") no-repeat; */
    /* background: url("../assets/page/img/baner/background.jpg") no-repeat; */
    background: url("../../../../assets/page/img/baner/background.jpg") no-repeat;
    background-size: 100% 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  
  .item-1 {
    grid-column: span 2;
    grid-row: 1 / 2;
    justify-self: end;
  }
  
  .item-2 {
    grid-column: span 4;
    grid-row: span 1;
    justify-self: center;
    align-self: center;
  }
  
  .item-2 .item-logo {
    margin: 0;
  }
  .item-2 .item-logo img {
    width: 600px;
    height: 300px;
  }
  
  .item-3 {
    grid-column: span 2;
    justify-self: start;
  }
  
  .item-4 {
    grid-column: span 3;
    justify-self: end;
    align-self: start;
    margin-right: 30px;
  }
  
  .item-5 {
    grid-column: span 2;
    justify-self: center;
    align-self: end;
    margin-bottom: 16px;
  }
  .item-6 {
    grid-column: span 3;
    justify-self: start;
    align-self: start;
    margin-left: 30px;
  }
  
  /* imagen  */
  
  .item-product {
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  
  .item-image {
    margin: 0;
  }
  
  .item-image img {
    width: 270px;
    height: 270px;
    vertical-align: top;
  }
  
  .item-name {
    background: #ffeb41;
    font-size: 14px;
    color: #252525;
    padding: 3px 5px;
    font-weight: bold;
    position: absolute;
    border-radius: 5px;
    bottom: 10%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
  }
  
  .badg {
    display: block;
    position: absolute;
    left: 64%;
    /* top: 39%; */
    bottom: 0;
    font-size: 16px;
    font-weight: 700 !important;
    /* color: red !important;
    background: white; */
  }
  
  .aboutSection h2 .bad {
    display: none;
  }
  
  @media screen and (max-width: 1366px) {
    .badg {
      display: block;
      position: absolute;
      left: 64%;
      top: 39%;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .item-image img {
      width: 200px;
      height: 200px;
      vertical-align: top;
    }
  
    .item-1 {
      justify-self: center;
    }
  
    .item-3 {
      justify-self: center;
    }
  
    .item-5 {
      align-self: center;
    }
  }
  
  @media screen and (max-width: 992px), (max-width: 1024px) {
    .contenedor {
      height: auto;
    }
  
    .item-5 {
      margin-bottom: 100px;
    }
  
    .item-image img {
      width: 175px;
      height: 175px;
      vertical-align: top;
    }
  
    .item-2 .item-logo img {
      width: 500px;
      height: 300px;
    }
  
    .badg {
      display: block;
      position: absolute;
      left: 66.5%;
      top: 34.6%;
    }
  
    .aboutSection h2 .bad {
      display: none;
    }
  }
  
  @media screen and (max-width: 768px), (max-width: 823px) {
    .contenedor {
      height: auto;
    }
  
    .item-image img {
      width: 150px;
      height: 150px;
      vertical-align: top;
    }
  
    .item-2 .item-logo img {
      width: 350px;
      height: 250px;
    }
  
    .item-4,
    .item-6 {
      margin-top: -50px;
    }
  
    .item-name {
      text-align: center;
      font-size: 9px;
      padding: 1px 3px;
    }
  
    .badg {
      display: none;
    }
    .aboutSection h2 .bad {
      display: inline-block;
    }
  }
  
  @media screen and (max-width: 480px), (max-width: 640px), (max-width: 667px) {
    .contenedor {
      height: auto;
    }
  
    .item-2 .item-logo img {
      width: 250px;
      height: 150px;
    }
  
    .item-image img {
      width: 90px;
      height: 90px;
      vertical-align: top;
    }
  
    .item-4,
    .item-6 {
      margin-top: -40px;
    }
  
    .item-5 {
      margin-top: -15px;
    }
  
    .item-name {
      text-align: center;
      font-size: 8px;
      padding: 0px 3px;
      margin-right: -25px;
    }
    .badg {
      display: none;
    }
  
    .aboutSection h2 .bad {
      display: inline-block;
    }
  }
  
  @media screen and (max-width: 320px), (max-width: 360px), (max-width: 414px) {
    .contenedor {
      height: auto;
      margin-top: -30px;
    }
  
    .item-2 .item-logo img {
      width: 150px;
      height: 100px;
    }
  
    .item-image img {
      width: 60px;
      height: 60px;
      vertical-align: top;
    }
  
    .item-5 {
      margin-top: -28px;
    }
    .item-name {
      font-size: 7px;
      padding: 0px 1px;
    }
    .badg {
      display: none;
    }
  
    .aboutSection h2 .bad {
      display: inline-block;
    }
    .badge {
      padding: 2px;
      font-weight: 400;
      font-size: 8px;
    }
  }
  