<div class="contenido">
  <div class="contenedor">
    <div class="item item-1">
      <a href="#" class="item-product">
        <figure class="item-image">

          <img src="assets/page/img/baner/cortina.png" alt="casa e imagen cortinas">
        </figure>
        <span class="item-name">Cortinas</span>
      </a>
    </div>
    <div class="item item-2">
      <figure class="item-logo">
        <img src="assets/page/img/baner/logo.svg" alt="">
      </figure>
    </div>
    <div class="item item-3">
      <a href="#" class="item-product">
        <figure class="item-image">
          <img src="assets/page/img/baner/vinilo.png" alt="casa e imagen Linóleo">
        </figure>
        <span class="item-name">Linóleo</span>
      </a>

    </div>
    <div class="item item-4">

      <a href="#" class="item-product">
        <figure class="item-image">
          <img src="assets/page/img/baner/grama.png" alt="casa e imagen grama sintética">
        </figure>
        <span class="item-name">Grama Sintética</span>
      </a>


    </div>
    <div class="item item-5">
      <a href="#" class="item-product">
        <figure class="item-image">
          <img src="assets/page/img/baner/laminado.png" alt="casa e imagen piso laminado">
        </figure>
        <span class="item-name">Piso Laminado</span>
      </a>
    </div>
    <div class="item item-6">
      <a href="#" class="item-product">
        <figure class="item-image">
          <img src="assets/page/img/baner/alfombra.png" alt="casa e imagen alfombra">
        </figure>
        <span class="item-name">Alfombras</span>
      </a>
    </div>
    <span class="badge badg badge-danger">Importador directo, Productos 100% americanos y europeos</span>
  </div>
</div>