<div class="main">
    <app-breadcrumb></app-breadcrumb>
</div>
<section class="mainContent clearfix aboutUsInfo mt-5 mb-5">
    <div class="container">
        <div class="page-header">
            <h3 class="titulo animated fadeIn">Casa e Imagen</h3>
        </div>
        <div class="row animated fadeIn">
            <div class="col-md-6 order-sm-12">
                <img calss="animated fadeIn" src="assets/page/img/about-us/empresa.jpg" alt="casa e imagen">
            </div>
            <div class="col-md-6 order-sm-1">
                <p class="lead">Somos una empresa quetzalteca, orientada al trabajo con excelencia en servicio al
                    cliente, así como en la
                    eficiencia y eficacia de la realización de sus proyectos</p>
                <p>Proveemos productos de origen Americano, y Europeo, los cuales cumplen con las especificaciones
                    técnicas
                    y requerimientos mínimos para garantizar las obras asignadas. Nuestros productos previamente fueron
                    seleccionados
                    con exclusividad, durabilidad, garantía y tiempo de vida.</p>
                <p>Contamos con profesionales en diseño, planificación, coordinación y ejecución de obras grises,
                    asesoría de
                    bases, diseños en Hoteles, Restaurantes, Apartamentos, Lobis, asesoría de proyectos, análisis de
                    calculo
                    y porcentajes de materiales en pastos sintéticos.</p>
                <p>Experiencia y liderazgo, en asesorías de pisos laminados, bases, vinilos, sistemas de humedad,
                    carpetas o
                    alfombras, diseños, uniones.</p>
                <ul class="unorder-list lists">
                    <li>Experiencia en instalación de alfombras hoteleras, continuidad de diseño, márgenes de
                        desperdicio, sistema de uniones</li>
                    <li>Importadores directos </li>
                    <li>Stock de 12,000 yardas disponibles</li>
                    <li>Servicio inmediato, prevaleciendo la localía, garantizamos reducción de costos</li>
                    <li>Nuestro precio, es el mejor a nivel país, garantizado.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="divider divider-center divider-gradient divider-gradient-gray w50 mx-auto my-3">
    <i class="fa fa-circle divider-icon bg-white"></i>
</div>

<section class="mainContent clearfix aboutUsInfo my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mision">Misión</h2>
                <p>Ser una empresa que importa productos de alta calidad, al mejor precio y que proyecta respeto,
                    responsabilidad,
                    asesoría y seguimiento a sus obras y clientes.</p>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-6">
                <h2 class="vision">Visión</h2>
                <p>Ser una empresa que provea productos importados a todo el país, a distribuidores, empresarios,
                    Contratistas,
                    Arquitectos e Ingenieros, Clientes finales, con el mejor precio, prontitud, servicio y con un alto
                    sentido
                    de responsabilidad</p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</section>

<section class="lightSection clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partnersLogoSlider version2">
                    <div class="slide">
                        <div class="partnersLogo clearfix">
                            <img src="assets/page/img//home/marcas/lowes_logo.jpg" alt="casa e imagen">
                        </div>
                    </div>
                    <div class="slide mr-3">
                        <div class="partnersLogo clearfix">
                            <img src="assets/page/img//home/marcas/beaulieu_white.png" alt="casa e imagen">
                        </div>
                    </div>
                    <div class="slide mr-3">
                        <div class="partnersLogo clearfix">
                            <img src="assets/page/img//home/marcas/carpetcourt.png" alt="casa e imagen">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="partnersLogo clearfix">
                            <img src="assets/page/img//home/marcas/carpetright.png" alt="casa e imagen">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="partnersLogo clearfix">
                            <img src="assets/page/img//home/marcas/elegance-logo.png" alt="casa e imagen">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="partnersLogo clearfix">
                            <img src="assets/page/img//home/marcas/mohawk-logo.png" alt="casa e imagen">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>