<div class="main">
    <section class="pageHeaderImage" [ngStyle]="{'background-image': 'url(' + urlFondo + ')'}">
        <div class="container">
            <div class="tableBlock">
                <div class="row tableInner">
                    <div class="col-sm-12">
                        <div class="page-title">
                            <h2>{{ proyecto.title }}</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a routerLink="/inicio">Inicio</a>
                                </li>
                                <li>
                                    <a routerLink="/proyectos">proyectos &nbsp; /</a>
                                </li>
                                <li class="active">{{ proyecto.title }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="gallery" class="gallery">
    <div class="container">
        <div class="row featuredProducts productGallery">
                <div class="slide col-md-4 mb-3">
                    <div class="productImage clearfix">
                    <img class="materialboxed img-fluid" src="assets/admin/images/big/img1.jpg" alt="casa e imagen">
                    <div class="productMasking">
                        <a data-fancybox="images" href="assets/admin/images/big/img1.jpg"><i class="fa fa-plus"></i></a>
                        <!-- <a class="materialboxed" href="assets/admin/images/big/img1.jpg"><i class="fa fa-plus"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row galeria">
        <div class="col s12 m4 l3">
            <div class="material-placeholder">
                <img src="https://unsplash.it/1200/768.jpg?image=251" alt="" class="responsive-img materialboxed"
                    data-caption="">
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="material-placeholder">
                <img src=".https://unsplash.it/1200/768.jpg?image=252" alt="" class="responsive-img materialboxed"
                    data-caption="">
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
                </a>
            </div>
            <div class="row">
                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
                </a>
            </div>
        </div>
    </div> -->
<!-- 
<div id="gallery" class="gallery">
    <div class="container">
        <div class="row featuredProducts productGallery">
            <div class="slide col-md-4 mb-3" *ngFor="let image of proyecto.images | keys">
                <div class="productImage clearfix">
                    <img class="materialboxed img-fluid" [attr.src]="proyecto.images[image]" alt="casa e imagen">
                </div>
            </div>
            <div class="slide col-md-4 mb-3">
                <div class="productImage clearfix">
                    <img class="materialboxed img-fluid" src="https://casa-e-imagen.s3.amazonaws.com/media/portafolio/2226354811.jpg" alt="casa e imagen">
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- 
<div class="slide col-md-4 mb-3">
    <div class="productImage clearfix">
        <img class="materialboxed img-fluid" src="assets/admin/images/big/img1.jpg" alt="casa e imagen">
        <div class="productMasking">
            <a data-fancybox="images" href="assets/admin/images/big/img1.jpg"><i class="fa fa-plus"></i></a>
            <a class="materialboxed" href="assets/admin/images/big/img1.jpg"><i class="fa fa-plus"></i></a>
        </div>
    </div>
</div>
 -->