<div class="main">
    <section class="pageHeaderImage" [ngStyle]="{'background-image': 'url(' + urlFondo + ')'}">
        <div class="container">
            <div class="tableBlock">
                <div class="row tableInner">
                    <div class="col-sm-12">
                        <div class="page-title">
                            <h2>{{ proyecto.title }}</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a routerLink="/inicio">Inicio</a>
                                </li>
                                <li>
                                    <a routerLink="/proyectos">proyectos &nbsp; /</a>
                                </li>
                                <li class="active">{{ proyecto.title }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="gallery" class="gallery">
    <div class="container">
        <div class="row featuredProducts productGallery">
            <div class="slide col-12 col-md-4 mb-3" *ngFor="let image of _albums; let i=index">
                <div class="productImage clearfix">
                    <img class="img-fluid" [src]="image.thumb" alt="casa e imagen">
                    <div class="productMasking">
                        <a (click)="open(i)"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>