<!-- ==================================== -->
<!-- Buscador -->
<!-- ==================================== -->
<!-- <div class="row animate fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input #input  (keyup)="buscarAlfombra( input.value )" type="text" class="form-control" placeholder="Buscar usuario">
        </div>
      </div>
    </div>
  </div> -->
<!-- ==================================== -->
<!-- Fin Buscador -->
<!-- ==================================== -->

<!-- ==================================== -->
<!-- Loading -->
<!-- ==================================== -->
<!-- <div class="row animate fadeIn" *ngIf="cargando"> -->
<div class="row animate fadeIn" *ngIf="cargando">
    <div class="col-12">
        <div class="alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<!-- ==================================== -->
<!-- Fin Loading -->
<!-- ==================================== -->

<!-- ==================================== -->
<!-- Tabla usuarios-->
<!-- ==================================== -->
<div class="row animate fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <!-- <button routerLink="../prod/nuevo" type="button" class="btn waves-effect waves-light btn-rounded btn-primary"> -->
                    <button (click)="nuevoProducto()" type="button"
                        class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"></i>
                        Crear {{ subCategoria }}
                    </button>
                </div>
                <h3 class="card-title">Total de alfombras ( <small>{{ totalProductos }}</small> )</h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Categoría</th>
                                <th>Sub categoría</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos">
                                <td>
                                    <img [src]="producto.image.portada | avatar"
                                        class="w100 h50 img-fluid img-rounded ">
                                </td>
                                <td>{{ producto.title }}</td>
                                <td>{{ producto.category }}</td>
                                <td>{{ producto.sub_category }}</td>
                                <td>
                                    <button [routerLink]="['../prod', producto.id ]" class="btn btn-primary mr-1"><i
                                            class="fa fa-edit"></i></button>

                                    <button (click)="eliminarProducto( producto )" class="btn btn-danger"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================================== -->
<!-- Fin  Tabla usuarios-->
<!-- ==================================== -->

<!-- ==================================== -->
<!-- Fin  Tabla usuarios-->
<!-- ==================================== -->
<div *ngIf="!cargando && productos.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>
<!-- ==================================== -->
<!-- Fin  Tabla usuarios-->
<!-- ==================================== -->