* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

/*body {
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #252525;
  font-weight: 400;
}
 
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

p {
  font-size: 13px;
  color: #252525;
  font-weight: 400;
  line-height: 18px;
} */

/* h1,
h2,
h3,
h4,
h5 {
  font-family: "Oxygen", sans-serif;
  color: #252525;
  margin-top: 0;
  margin-bottom: 0px;
} 

h4 {
  font-size: 16px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  font-weight: 700;
}*/

.pointer {
  cursor: pointer;
}

.w150 {
  width: 150px;
}
.w100 {
  width: 50px;
}

.img50 {
  width: 50px;
}

/* ============================================ */
/* featuredProducts home component seccion slider*/
/* ============================================ */

.featuredProducts button.slick-arrow {
  top: -40px !important;
}

.featuredProducts button.slick-arrow.slick-prev:before,
.featuredProducts button.slick-arrow.slick-next:before {
  font-family: FontAwesome !important;
  font-size: 11px !important;
  line-height: 1 !important;
  opacity: 1 !important;
  color: #d5d5d5 !important;
}

.featuredProducts button.slick-arrow.slick-prev {
  left: auto !important;
  right: 48px !important;
}

.featuredProducts button.slick-arrow.slick-prev:before {
  content: "\f053" !important;
}

.featuredProducts button.slick-arrow.slick-prev:after {
  position: absolute !important;
  content: "" !important;
  border: 1px solid #c5c5c5 !important;
  height: 20px !important;
  right: -7px !important;
  top: 0px !important;
}

.featuredProducts button.slick-arrow.slick-prev:hover:before {
  color: #2c2c2c !important;
}

.featuredProducts button.slick-arrow.slick-next {
  left: auto !important;
  right: 15px !important;
}

.featuredProducts button.slick-arrow.slick-next:before {
  content: "\f054" !important;
}

.featuredProducts button.slick-arrow.slick-next:hover:before {
  color: #2c2c2c !important;
}

/* --------------------------------------------------------------- */
