<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img
              [src]="usuario.img | avatar" alt="user" /><span class="hide-menu">{{ usuario.nombre }}
            </span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="javascript:void()">Mi perfil </a></li>
            <li><a href="javascript:void()">Configuración de mi cuenta</a></li>
            <li><a (click)="_loginService.logout()" class="pointer">Cerrar sesión</a></li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li class="nav-small-cap">ADMINISTRACIÓN</li>
        <li *ngFor="let menu of _sidebarService.menu"> 
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <i [class]="menu.icono"></i>
            <span class="hide-menu">{{ menu.titulo }}<span class="label label-rouded label-themecolor pull-right">{{ menu.submenu.length }}</span></span></a>
              <ul aria-expanded="false" class="collapse">
                  <li *ngFor="let submenu of menu.submenu">
                      <a [routerLink]="[ submenu.url ]" routerLinkActive="active">{{  submenu.titulo }}</a>
                  </li>
              </ul>
        </li>
        <!-- <li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i>
            <span class="hide-menu">Dashboard </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a [routerLink]="['./dashboard']">Inicio </a></li>
          </ul>
        </li>
        <li class="">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="mdi mdi-bullseye"></i><span class="hide-menu">Productos</span></a>
          <ul aria-expanded="false" class="collapse" style="height: 0px;">
            <li><a [routerLink]="['./producto', 'alfombras']" routerLinkActive="active" >Alfombras </a></li>
            <li><a [routerLink]="['./producto', 'alfombras-atrapa-mugre']" routerLinkActive="active">Alfombras atrapa mugre</a></li>
            <li><a [routerLink]="['./producto', 'cortinas']" routerLinkActive="active">Cortinas</a></li>
            <li><a [routerLink]="['./producto', 'grama-sintetica']" routerLinkActive="active">Grama sintetica</a></li>
            <li><a [routerLink]="['./producto', 'linoleo']" routerLinkActive="active">Linóleo</a></li>
            <li><a [routerLink]="['./producto', 'papel-tapiz']" routerLinkActive="active">Papel tapiz</a></li>
            <li><a [routerLink]="['./producto', 'piso-laminado']" routerLinkActive="active">Piso laminado</a></li>
          </ul>
        </li> -->
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->