<!-- ==================================== -->
<!-- Loading -->
<!-- ==================================== -->
<!-- <div class="row animate fadeIn" *ngIf="cargando"> -->
<div class="row animate fadeIn" *ngIf="cargando">
    <div class="col-12">
        <div class="alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<!-- ==================================== -->
<!-- Fin Loading -->
<!-- ==================================== -->

<!-- ==================================== -->
<!-- Tabla usuarios-->
<!-- ==================================== -->
<div class="row animate fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <!-- <button routerLink="../prod/nuevo" type="button" class="btn waves-effect waves-light btn-rounded btn-primary"> -->
                    <button (click)="nuevoProducto()" type="button"
                        class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"></i>
                        Crear papel tapiz
                    </button>
                </div>
                <h3 class="card-title">Total papel tapiz ( <small>{{ totalProductos }}</small> )</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Sub categoría</th>
                            <th>Acción</th>
                            <!-- <th>Acción</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos">
                            <td>
                                <!-- <img class="w100 img-rounded " src="assets/img/products/no-img.jpg"> -->
                                <img [src]="producto.image.portada | avatar" class="w100 img-rounded ">
                            </td>
                            <td>{{ producto.title }} </td>
                            <td>{{ producto.category | titlecase }}</td>
                            <td>{{ producto.sub_category | titlecase}}</td>
                            <td>
                                <button [routerLink]="['../prod', producto.id ]" class="btn btn-primary mr-1"><i
                                        class="fa fa-edit"></i></button>

                                <button (click)="eliminarProducto( producto )" class="btn btn-danger"><i
                                        class="fa fa-trash-o"></i></button>
                            </td>

                        </tr>
                    </tbody>
                </table>

                <!-- <button (click)="cambiarDesde(-5)" class="btn btn-secondary mr-1">Anteriores</button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">Siguentes</button> -->

            </div>
        </div>
    </div>
</div>
<!-- ==================================== -->
<!-- Fin  Tabla usuarios-->
<!-- ==================================== -->

<!-- ==================================== -->
<!-- Fin  Tabla usuarios-->
<!-- ==================================== -->
<div *ngIf="!cargando && productos.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>
<!-- ==================================== -->
<!-- Fin  Tabla usuarios-->
<!-- ==================================== -->