<div class="footer-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="footer-link">
                    <h5>ACCESORIOS</h5>
                    <ul class="footer-links">
                        <li>
                            <a href="#">Tapetes </a>
                        </li>
                        <li>
                            <a href="#">Cuadros </a>
                        </li>
                        <li>
                            <a href="#">Baños </a>
                        </li>
                        <li>
                            <a href="#">Lava manos </a>
                        </li>
                        <li>
                            <a href="#">Duchas </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="footer-link">
                    <h5>MARCAS</h5>
                    <ul class="footer-links">
                        <li>
                            <a routerLink="/nosotros">Mohauk </a>
                        </li>
                        <li>
                            <a routerLink="/nosotros">Elegance </a>
                        </li>
                        <li>
                            <a routerLink="/nosotros">Beauflor </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="footer-link">
                    <h5>CONTACTANOS</h5>
                    <ul class="footer-links">
                        <li>
                            <a href="tel:+(502) 77677667">+(502) 77677667</a>
                        </li>
                        <li>
                            <a href="mailto:contacto@casaeimagen.com">contacto@casaeimagen.com</a>
                        </li>
                    </ul>
                    <div class="row sociales">
                        <div class="col-6 col-md-2 text-center">
                            <a target="_blank" href="https://www.facebook.com/casaeimagen/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                        <div class="col-6 col-md-2 text-center">
                            <a target="_blank" href="https://www.instagram.com/casaeimagengt/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <div class="col-auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 caja-logo">
                <div class="logo">
                    <img src="assets/page/img/baner/logo.png" alt="Casa e Imagen" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyRight">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="paragraph">
                    &copy; {{ year }} Casa e Imagen. Todos los derechos reservados.
                    <span>Desarrollado por <a target="_blanck" href="https://wedevgt.com">WeDev</a></span>
                </p>
            </div>
        </div>
    </div>
</div>